extends layout.pug 

block scripts
  script(src='/static/script.js')

block style 
    style
      include ../static/style.css

block content 
    
    section#intro
         div.a1     WELCOME TO META DANCE ACADEMY 
         div.a2    !!!!  LET YOUR FEET DOESNT STOP  !!!! 
         div.a3    EAT ... SLEEP .... DANCE ... REPEAT 

    section#mission 
       .mission 
          h2   OUR MISSION  
          .card 
           .card1 
             h3 ACADEMY 
             p Dance Academy is an Australian teen-oriented television drama produced by Werner Film Productions in association with the Australian Broadcasting Corporation and ZDF Series one premiered on , and series two began airing on  Series three premiered on ABC3 on 8 July 2013 in Australia.
           .card2   
             h3 MOTO
             p Series Two sees Tara return to the Academy for her second year with the hope of representing Australia in an international ballet competition, the Prix de Fonteyn. This series introduces new students Grace Whitney (Isabel Durant), Ben Tickle (Thomas Lacey), Ollie Lloyd (Keiynan Lonsdale), as well as teacher Saskia Duncan (Brooke Harman),and sees the characters react to an unexpected death
           .card3 
             h3 SCOPES 
             p Dance studios can significantly benefit from the boost a creative slogan can give them. The slogan can enhance the dance studio’s brand, value, and identity. If you design your slogan based on your specific dance style, you can attract attention and gain a competitive advantage over other dance studios in your area.


           .card4 
             h3 PROMISES
             p Pro Tip: The slogan has to resonate with your dancers. The best way to do that is to express your dance in the slogan authentically. According to research by the University of Georgia, the three key factors that determine the likeability of the slogan are:


                        
    section#mid
         h2    OUR SPONSOR SECTION    
         div.logo 
            div.logo1 

                a(href="https://playvalorant.com/en-us/",target="_new") 

                     img(src="/static/img-1.png", alt="img-1",class="image",a_href="www.google.com",target="_blank")
            
            div.logo3 

                a(href="https://www.rockstargames.com/V/restricted-content/agegate/form?redirect=https%3A%2F%2Fwww.rockstargames.com%2FV%2F&options=&locale=en_us",target="_new") 

                    img(src="/static/img-3.png", alt="img-3",class="image")
            div.logo4 

                a(href="https://www.ea.com/sports",target="_new") 

                     img(src="/static/img-4.png", alt="img-4",class="image")      